### List

In [12]:
x=1
y=2
z=3

list1= [x,y,z]
print('list1:',list1)

list2 = list('hello') # can be any iterable, we used string here
print('list2:',list2)

list3 = [0] * 5
print('list3:',list3)

list1: [1, 2, 3]
list2: ['h', 'e', 'l', 'l', 'o']
list3: [0, 0, 0, 0, 0]

you cann use the add operatotr on 2 lists to join them

In [15]:
new_list = list1+list2+list3
print(new_list)

[1, 2, 3, 'h', 'e', 'l', 'l', 'o', 0, 0, 0, 0, 0]

elements of list can be of different data types

lists can contain other lists in them!!!

In [7]:
items= [["rice", 2.4, 8], ["flour", 1.9, 5], ["corn", 4.7, 6]]

you can iterate through a list using for loops. And get items in list using index values

In [8]:
for item in items:
	print("Product: %s price: %.2f Quality: %i" % (item[0], item[1], item[2]))

Product: rice price: 2.40 Quality: 8
Product: flour price: 1.90 Quality: 5
Product: corn price: 4.70 Quality: 6

indexing for list works same as for strings!!

In [16]:
new_list[::2] # skip every second index i.e step 2

[1, 3, 'e', 'l', 0, 0, 0]

there are several methods attributed to the list object. most common method is append used to add to end of list

In [17]:
# append to list 

list1.append('hello') # Always adds to end 

print(list1)

[1, 2, 3, 'hello']

The “in” keyword can be used to check if particular character is an element in the list

In [22]:
a = ['apple', 'banana', 'cherry']

if 'apple' in a:
    print('apple in list')

apple in list

### Tuple

In [25]:
# Round brackets
tup = ('hello', 'Python')

# Comma-separated without parentheses
tup2 = 4, 5, 6

# Using constructor
tup3 = tuple([7,8,9])

# Empty tuple
tup4 = ()

# Single-element tuple
tup5 = (10,)


print('tup',tup)
print('tup2',tup2)
print('tup3',tup3)
print('tup4',tup4)
print('tup5',tup5)

tup ('hello', 'Python')
tup2 (4, 5, 6)
tup3 (7, 8, 9)
tup4 ()
tup5 (10,)

python tuples support unpacking

In [29]:
a,b,c = tup2

print(f'unpacked values {a}, {b}, {c}')

unpacked values 4, 5, 6

tuples also suppot loop control as any iterable

In [30]:
s = 'bye'
# Iterating over the tuple
for item in s :
    print(item)   


# control statement 
if 'e' in s:
   print('leaving')

b
y
e
leaving

### Sets

In [33]:
# Using curly brackets 
set_example = {10, 50, 20}
print(set_example ) 


# typecasting a list into a set
l = [10,50,20,10]
set_example = set(l)  # notice what happens to duplicate 10
print(l,'changed to', set_example )

{10, 50, 20}
[10, 50, 20, 10] changed to {10, 50, 20}

Common built in methods in sets

In [35]:

s ={1,2,3}
# add an element using add()
s.add(4)
print(s)

{1, 2, 3, 4}

In [36]:
# remove an element using remove()
s.remove(2)
print(s)

{1, 3, 4}

mathematical operrations on set

In [39]:
# define two sets
a = {1, 2, 3}
b = {3, 4, 5}

# union of two sets
print('union') 
print(a.union(b))       

# intersection of two sets
print('intersection') 
print(a.intersection(b))  

# difference (elements in a but not in b)
print('difference') 
print(a.difference(b))

union
{1, 2, 3, 4, 5}
intersection
{3}
difference
{1, 2}

### Dictionaries

In [41]:
# Using curly brackets to create a dictionary
dict_example = {"name": "Alice", "age": 25}
print(dict_example)       

# Using dict() constructor with keyword arguments
dict_example = dict(name="Bob", age=30)
print(dict_example)   

# Using dict() with a list of tuples
pair_list = [("x", 1), ("y", 2)]
dict_example = dict(pair_list)
print(dict_example)       

# Creating an empty dictionary
empty_dict = {}
print(empty_dict)

{'name': 'Alice', 'age': 25}
{'name': 'Bob', 'age': 30}
{'x': 1, 'y': 2}
{}

 Values from a dictionary can be accessed using the key within square brackets or using get() method

In [42]:
# create a dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

# Access using square brackets (direct access)
print(student["name"])        
print(student["age"])           

# Access using get() method
print(student.get("grade"))   
print(student.get("id"))

Alice
20
A
None

use direct assignment to update or add elements

In [45]:
# create a dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

# using square brackets (direct access) to add or update
student["id"] = 1122 # adding new key-value
student["age"] = 21  # updating exesting
print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A', 'id': 1122}

removing items

In [46]:
# create a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}

# Remove an item using del
del person["age"]
print(person)         

# Remove and return an item using pop()
city = person.pop("city")
print(city)           
print(person) 

# Add items back 
person["age"] = 25
person["city"] = "New York"

# Remove and return the last inserted item using popitem()
last_item = person.popitem()
print(last_item)   
print(person)         
# Clear the entire dictionary
person.clear()
print(person)

{'name': 'Alice', 'city': 'New York'}
New York
{'name': 'Alice'}
('city', 'New York')
{'name': 'Alice', 'age': 25}
{}

iterating through dict

In [49]:
person = {"name": "Alice", "age": 25, "city": "New York"}

# Iterate over keys
print("Iterate over keys")
for key in person:
    print(key)


print("Iterate over values")
# Iterate over values
for value in person.values():
    print(value)

print("Iterate over key-value pairs")
# Iterate over key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")

Iterate over keys
name
age
city
Iterate over values
Alice
25
New York
Iterate over key-value pairs
name: Alice
age: 25
city: New York

# practice activities 

based on the simple codes we wrote you will now be able to do simple coding tasks, here are few tasks that you can practice. We will discuss these problems in the tutorial session.

## Problem:1  
Create a list of 5 fruits. Print the first and last element.

**Sample Input:**  
`fruits = ["apple", "banana", "mango", "orange", "grapes"]`

**Expected Output:** 
 
First fruit: apple

Last fruit: grapes


## Problem: 2 
Replace the 3rd element with another fruit. Append a new fruit to the list.

**Sample Input:**  
`fruits = ["apple", "banana", "mango", "orange", "grapes"]`  
Replace `"mango"` with `"kiwi"`, append `"pineapple"`.

**Expected Output:** 
`['apple', 'banana', 'kiwi', 'orange', 'grapes', 'pineapple']`

## Problem: 3

Write a program that takes a sentence as input and counts how many times each word appears. Store the results in a dictionary. Ignore case differences (treat "The" and "the" as the same word).

**Sample Input:**  

`sentence = "The sun shines and the sun sets"`

**Expected Output:**  
`{'the': 2, 'sun': 2, 'shines': 1, 'and': 1, 'sets': 1}`

## Problem: 4

Create a dictionary of students and their list of marks. For each student, print their name, average marks, and highest marks.


**Sample Input:**  

`marks = {
    "John": [85, 90, 78],
    "Emma": [92, 88, 95],
    "Liam": [70, 75, 80]
}`

**Expected Output:**  

John - Average: 84.33, Highest: 90 <br> 
Emma - Average: 91.67, Highest: 95 <br>
Liam - Average: 75.0, Highest: 80  <br>